# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")
importFrom(mgcv,predict.gam)
importFrom(stats,coef)
importFrom(stats,vcov)
importFrom(mgcv,rmvn)
